@font-face {
  font-family: 'SVN-Kimberley';
  src: url('SVN-Kimberley.ttf') format('truetype'); 
}

body {
  font-family: 'SVN-Kimberley', sans-serif;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #007bff;
}

.background {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  background-attachment: scroll; 
}

.custom-blue {
  color: #086da3;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
}